body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board{
    width: 350px;
    height: 420px;
    /* background-color: green; */
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.present{
    background-color: #c9B458 ;
    color: white;
    border-color: #c9B458;
}

.absent{
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}


.notFilled {
  
  animation-name: notFilled;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes notFilled {
  0%   { transform: scale(1,1) translateY(0); }
  10%  { transform: scale(1.1, 0.9) translateY(0); }
  30%  { transform: scale(0.9, 1.1) translateY(-15px); } 
  50%  { transform: scale(1.05, 0.95) translateY(0); }
  57%  { transform: scale(1,1) translateY(-5px); }
  64%  { transform: scale(1,1) translateY(0); }
  100% { transform: scale(1,1) translateY(0); }
}


.chosen{
    border-color: #959899;
}

.flip{
    animation: flip 500ms ease forwards;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.keyboard-row{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-tile{
    /* Box */
    border: 1px solid lightgray;
    width: 26px;
    height: 40px;
    margin: 1px;

    /* Text */
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 5px;
}

#Enter.key-tile{
    font-size: 15px;
    padding: 7px 20px;
}

.enter-key-tile{
    /* Box */
    border: 1px solid lightgray;
    width: 72px;
    height: 40px;
    margin: 1px;

    /* Text */
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.key-absent{
    background-color: #787c7e;
    color: white;
    border-color: #787c7e;
}